<!-- footer section -->

<footer>
    <div class="container mt-1">
        <div class="col-lg-12" id="infos">
            <div class="col-lg-6" id="map"></div>
            <div class="col-lg-6">
                <iframe src="https://feed.mikle.com/widget/v2/56980/" height="100%" width="100%" class="fw-iframe" scrolling="no" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</footer>

